import { getCookie } from 'h3'
import { defineProxyParty } from '@radya/nuxt-proxy-party/core'

export default defineProxyParty([
  {
    name: 'bin',
    baseUrl: '/api/bin',
    target: 'https://httpbin.org',
    handler: (event) => {
      const token = getCookie(event, 'oauth/token')

      if (token) {
        event.node.req.headers.authorization = `Bearer ${token}`
      }
    },
  },
])
